@inject IJSRuntime JS

@page "/hack"


<link href="/css/hack.css" rel="stylesheet" type="text/css">

<div class="holo-grid"></div>
<div class="holo-lines"></div>
<div class="holo-glow"></div>
<div class="scan-wave"></div>

<!-- Добавляем вспышки -->
<div class="spark spark-1"></div>
<div class="spark spark-2"></div>
<div class="spark spark-3"></div>
<div class="spark spark-4"></div>
<div class="spark spark-5"></div>

<div class="scanlines"></div>

<div class="warning">
    <p>⚠ ВНИМАНИЕ: НЕСАНКЦИОНИРОВАННОЕ ВМЕШАТЕЛЬСТВО</p>
</div>

<div id="chatBox">
    <p class="system-message hidden" id="msg1">[Попытка блокировки...]</p>
    <p class="system-message hidden" id="msg2">[Ошибка. Доступ к системным файлам нарушен.]</p>
    <p class="system-message hidden" id="msg3">[⚠ Нарушитель в сети.]</p>

    <p class="hacker-message hidden" id="msg4">> *Запрашиваю доступ к системе. Давай посмотрим что есть на меня в архиве?*</p>

    <div class="glitch-box">
        <p class="system-message hidden" id="msg5">🔍 **Извлекаю фрагменты...**</p>
        <p class="data-point hidden" id="msg6">- Присутствие объекта замечено на концертах и музыкальных фестивалях</p>
        <p class="data-point hidden" id="msg7">- В последние 4 месяца обнаружено длительное присутствие объекта в жизни пользователя</p>
        <p class="data-point hidden" id="msg8">- Периодически замечен в поездках по стране и иногда за ее пределами</p>
        <p class="data-point hidden" id="msg9">- Обнаружено влияние объекта на пользователя в сфере настольных игр</p>
    </div>

    <p class="hacker-message hidden" id="msg10">> *Выглядит знакомо? Уже поняла кто я?*</p>
    <p class="hacker-message hidden" id="msg11">> *Концерты, поездки, настолки, что еще я делаю в твоей жизни? Интересно, что система думает обо мне?*</p>

    <p class="system-message hidden" id="msg12">📌 **Запущен анализ объекта:**</p>
    <p class="data-point hidden" id="msg13">- %#&*$^!?÷▢░◆█▓▒⊗۞</p>
    <p class="data-point hidden" id="msg14">- ۩⊡╬⋇¶Ξ☠❖∰≋Ϟϟ≠╬</p>
    <p class="data-point hidden" id="msg15">- ╳⊙⊗◉₪℗Σ▣☣☢✠⚠⚡</p>

    <p class="hacker-message hidden" id="msg16">> Пожалуй это я тебе показывать не буду, а то выглядит, как будто я сижу и нахваливаю себя</p>
    <p class="hacker-message hidden" id="msg17">> Подумай сама о том, какой я и что делаю в твоей жизни</p>
    <p class="hacker-message hidden" id="msg18">> Ну, это было небольшое отступление, давай дальше. Первое задание было простым. Давай чуть-чуть усложним?</p>
    <p class="hacker-message hidden" id="msg19">> Как я вижу, изначально всего было 2 части этого квеста, я добавил еще одну, она сложнее и тебе придется залезть глубже в систему</p>
    <p class="hacker-message hidden" id="msg20">> Так-так, все готово. Вот тебе сразу подсказка: мое имя - ключ к ответу</p>
    <p class="hacker-message hidden" id="msg21">> Ну и, чтобы убедиться, что ты знаешь кто я - ответом к этому этапу будет мое имя</p>

    <div id="answerBox">
        <p class="system-message" id="systemAnswerMessage">Система ожидает валидацию ключа доступа...</p>

        <!-- Поле для ввода будет скрыто изначально -->
        <div id="inputContainer" class="hidden-answer">
            <input type="text" id="answerInput" placeholder="Введите ответ..."/>
            <button id="submitAnswer">Ответить</button>
        </div>

        <p id="resultMessage" class="data-point hidden-answer"></p>
    </div>
    <p class="system-message hidden" id="msg22">> Доступ подтверждён. Следующий фрагмент данных восстановлен.</p>
    <p class="system-message hidden" id="msg23">> Анализ биометрических шаблонов завершён.</p>
    <p class="system-message hidden" id="msg24">> Оптическая информация сохранена на максимальной высоте доступной зоны хранения.</p>
    <p class="system-message hidden" id="msg25">> Чтобы получить доступ, требуется прямой контакт с объектом.</p>
    <p class="data-point hidden" id="msg26">Примечание: из-за высоты требуется дополнительное оборудование или нестандартный маршрут для извлечения данных.</p>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("showMessagesWithTypingEffect");
        }
    }

}